body {
    margin: 0;
    padding: 0;
    
}

.header {
    overflow: hidden;
    background-color: #0a3a20;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    padding-left: 130px;
}

.header p {
    padding-left: 130px;
    font-size: 18px;
}

.headlogo {
    width: 80px;
    height: 80px;   
    float: left;
    margin-right: 20px;
}

.navbar {
    float: right;
}

.action_btn {
    background-color: rgb(21, 134, 72);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
}

.caption-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 120px;
    margin: 0 20px;
}

.caption-text {
    max-width: 600px;
    font-size: 16px;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@media (max-width: 700px) {
    h1 {
        font-size: 20px;
        padding-left: 100px;
    }

    .header p {
        font-size: 14px;
        padding-left: 100px;
    }

    .headlogo {
        width: 100px;
        height: 100px;   
        margin-right: 10px;
    }

    .action_btn {
        font-size: 14px;
        padding: 5px 10px;
    }


    .logo {
        width: 100px;
    }
}

@media (max-width: 424px) {
    h1 {
        font-size: 18px;
        padding-left: 80px;
    }

    .header p {
        font-size: 12px;
        padding-left: 80px;
    }

    .headlogo {
        width: 50px;
        height: 50px;   
        margin-right: 10px;
    }

    .action_btn {
        font-size: 12px;
        padding: 5px 10px;
    }

    .text {
        font-size: 18px;
        padding: 5px;
    }

    .logo {
        width: 70px;
    }
}
