/*Login form css*/

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 350px; 
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #0056b3;
}

.button:hover {background-color: #0056b3}

.button:active {
    background-color: #0056b3;
    box-shadow: 0 1px #0056b3;
    transform: translateY(2px);
}